<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width,initial-scale=1"/>
  <title> {{ page_title }} </title>

  <script src="/assets/js/htmx.min.js"></script>
  <link rel="stylesheet" href="/assets/style.css">

  {% block head %}

  {% endblock head %}


</head>

{% include 'header.html' ignore missing %}

<body id="inner_html">

{% block inner_html %}

{% endblock inner_html %}
</body>

{% include 'footer.html' ignore missing %}

{% block script %}

{% endblock script %}

</html>